{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="nav nav-inline main-menu">
    {% else %}
      <ul class="menu">
    {% endif %}

    {% for item in items %}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'classic-menu-dropdown',
          item.is_collapsed ? 'classic-menu-dropdown',
          item.in_active_trail ? 'active',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>

        <a href="{{item.url}}" class="nav-link">
          {% if item.attributes.icon %}
            <i class="fas fa-{{ item.attributes.icon }}"></i>
          {% endif %}
          {{item.title}}
        </a>

        {% if item.below %}
          <span class="menu-dropdown-trigger"><i class="fas fa-angle-down"></i></span>
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}

      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
