{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{% set about = '/' ~ directory ~ '/images/mt5_img.png' %}
{{ attach_library('classy/node') }}

<article{{attributes.addClass(classes)}} id="article-{{ node.id() }}">
  <div class="container">
    <div class="about">
      <div class="left">
        <h2>
          {{ label }}
        </h2>
        {% if node.body is not empty %}
          {{ content.body.0 }}
        {% endif %}
      </div>
      {% if node.field_image is not empty %}
        <div class="right">
          {# {{ content.field_image }} #}
          <img src="{{about}}" alt="about">
        </div>
      {% endif %}
    </div>
  </div>
</article>